body {
    background-image: url("./images/tic-tac-toe-background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px; 
    border-radius: 1em;
    padding: 2em;
    /* text-align: center; */
    box-shadow: 0px 0px 5px;
  }

  .cell {
    width: 125px;
    background-color: rgb(135, 206, 250);
    /* height: px; */
    border: 1px solid;
    line-height: 75px;
    font-size: 120px;
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    background-color: white;
}

